        ###we define the warning critical thresholds here per service

        ##performance checks
        #check memory
        vars.checkmem.crit = "90"
        vars.checkmem.warn = "70"
        #check procs
        vars.checkprocs.crit = "2000"
        vars.checkprocs.warn = "1700"
        #check users
        vars.checkusers.crit = "2"
        vars.checkusers.warn = "0"
        #check load
        vars.checkload.crit = "15,14,13" #load1, load5, load15
        vars.checkload.warn = "10,9,8"
        #check net
        vars.checknet.crit = "1048576" #so this is actually a gigabyte per sec
        vars.checknet.warn = "7500" #this is in kB/sec, if ANY of the interfaced superseed it: transmit and receive are seperate!!
        #check cpu
        vars.checkcpu.crit = "90"
        vars.checkcpu.warn = "75"

        ##disk/volume/partition checks
        #check volume var
        vars.checkdiskvar.crit = "90"
        vars.checkdiskvar.warn = "80"
        #check volume tmp
        vars.checkdisktmp.crit = "90"
        vars.checkdisktmp.warn = "80"
        #check disk root
        vars.checkdiskroot.crit = "90"
        vars.checkdiskroot.warn = "80"

	#special custom check which needs to be activated by this variable
	#vars.checkdiskDC = "1" 
        
	vars.notification["mail"] = {
        groups = ["icingaadmins"]
        }
